@import '~Sass/mixins/_media.scss';

.page {

background-image: url(/assets/images/boxing-theme-background-image-2.jpg);
background-repeat: no-repeat;
background-size: cover;

.page-content {

  display:flex;
  background-color:rgba(255,255,255,0.70);
  @include media('<mediumWidth'){

    margin-top: 50px;

  }

}

}
