@import '~Sass/mixins/_media.scss';

.news-dashboard {

    @include media('<mediumWidth'){
        max-height:calc(100vh - 50px);
    }

    .data-content {
        display:flex;

        @include media('<mediumWidth'){
            flex-direction:column;
        }

    }

    .add-new-post-button { 

        position:fixed;
        bottom:15px;
        left:265px;
        box-shadow: 0px 2px 10px 1px #b5b5b5;
        @include media('<mediumWidth'){

            left:15px;
      
          }
    }


    .side-panel.news-side-panel {
        height:calc(100vh - 125px);
        
    }

    .content {
        // margin-top:20px;
        flex-grow:1;
        width:0px;
        height:calc(100vh - 125px);
        overflow:auto;

        @include media('<mediumWidth'){
            width:auto;
            height:auto;
        }
    }

    .latest-images-carousel {
        -webkit-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
        background-color:rgba(255, 255, 255, 0.65);
        z-index:1;
        // margin-bottom:20px;

    }
}