@import '~Sass/variables/colors';

.field-group-error {

  display:inline-block;
  margin-left:20px;

}


.has-error { 
  .control-label,  .field-group-error{
    color:$color-secondary-2-0;    

  }
  .help-block {
    color:unset;
  }
}