.labelled-list {

  display:flex;
  flex-direction:column;

  .labelled-list-item {
    // 
    // flex:1;
    // display:flex
    margin-top:5px;
    margin-bottom:5px;
  }

  .item-value {
    display:inline;
    float:right;
  }

  .item-label {

    font-weight: bold;
    display:inline;
    float:left;
  }

}
