@import '~Sass/mixins/_media.scss';

.news-side-pandel {

  position:fixed;

}

.news-dashboard{

  width:calc(100vw - 250px);



}

.news-page .page-content{

  @include media('<mediumWidth'){

    display:flex;
    flex-direction: column;

    .news-side-panel {

      width:auto;
      height:auto;
      border-bottom:1px solid #ddd;
    }

    .news-dashboard{

      width:auto;
      height:auto;

    }


  }

}
