@import '~Sass/mixins/imageBackground';

$whiteOpacityBackground:rgba(255,255,255, 0.85);

.dashboard {

  
  // margin-top:50px;
  height:calc(100vh - 50px);
  overflow:auto;
  flex-grow:1;

  .ReactTable {
    
    @include opacityContainer();

    .rt-thead.-filters input, .-pagination select, .-pagination input {
      background-color:$whiteOpacityBackground;
    }
    
  }

  .dashboard-content {
    padding:20px;
  }

}
