.rbc-time-view .rbc-row {
    min-height: 0px;

    div:nth-child(1) {
        height: 0px !important;
    }

}

.without-all-day-row {

  .rbc-time-header .rbc-row:nth-child(2){

    display:none;

  }

}
