@import '~Sass/variables/_colors.scss';
@import '~Sass/mixins/_media.scss';

.rbc-calendar {

  &.without-all-day-row {


    .rbc-time-header .rbc-row:nth-child(2) {
      display:none;
    }


  }

  .rbc-event {

    background-color:$color-primary-0;

  }


  .rbc-toolbar {

    @include media('<mediumWidth'){

      display:none;

    }

  }


}
