.post.panel {

  // width:50%;
    background-color:transparent;
    margin-bottom:60px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(166,163,166,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(166,163,166,1);
    box-shadow: 0px 0px 10px 3px rgba(166,163,166,1);

    .panel-heading {
      background-color: rgba(232,232,232,0.85);
      display:flex;
      align-content: space-between;
    }



  .panel-body {
    background-color: rgba(255, 255, 255, 0.65);
  }

  .panel-title{

    flex:1;

  }

}
