.gallery-album-container {

  height:150px;
  background-color:pink;
  margin-left:10px;
  margin-right:10px;

  .gallery-album-content {

    margin-left:10px;
    margin-right:10px;
    background-color:pink;

  }

}
